.add-order-container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.add-order-container h2 {
    text-align: center;
}

.menu-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.selected-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.selected-item button {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

button[type='submit'] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
