.box {
  margin-left:50px;
}

.login-section{
   position: fixed; /* Ustalenie pozycji elementu */
   left: 50%; /* Ustawienie 50% od lewej krawędzi */
   transform: translate(-50%); /* Przesunięcie elementu o połowę jego szerokości i wysokości w lewo i w górę */
}

.menu-show{
 position: fixed; /* Ustalenie pozycji elementu */
   left: 38%; /* Ustawienie 50% od lewej krawędzi */
   top: 20%;
}

.register-input{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}

.login-container{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}