body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background_restaurnat_image.jpg');
  background-size: cover; /* Możesz zmienić na inne opcje, np. contain, 100% 100%, etc. */
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px); /* Dodanie efektu blur */
  z-index: -1; /* Umieszczenie pseudo-elementu za zawartością body */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
